{% extends 'base.html.twig' %}

{% block title %}ToDO index{% endblock %}

{% block body %}
    <h1>ToDO index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for to_d_o in to_d_os %}
            <tr>
                <td>{{ to_d_o.name }}</td>
                {% for task in to_d_o.tasks %}
                    <td>{{ task.name }}</td>
                {% endfor %}
                <td>
                    <a href="{{ path('app_to_d_o_show', {'id': to_d_o.id}) }}">show</a>
                    <a href="{{ path('app_to_d_o_edit', {'id': to_d_o.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_to_d_o_new') }}">Create new</a>
{% endblock %}
