{% extends 'base.html.twig' %}
    
    {% block stylesheets %}
        <link rel="stylesheet" href="{{asset('assets/css/style.css')}}">
    {% endblock %}

{% block title %}Ma ToDo{% endblock %}

{% block body %}
    <h1>Ma Liste</h1>

    
        {% for to_d_o in to_d_os %}
            
                <h3>{{ to_d_o.name }}</h3>

                {% for task in to_d_o.tasks %}
                <div class=" divtask ">
                    <div>{{ task.name }} {{ include('tasks/_delete_form.html.twig') }},</div>
                </div>
                {% endfor %}
                    <a href="{{ path('app_tasks_new', {id:to_d_o.id}) }}">Ajouter une tâche</a>
                
                    {# {{ include('to_do/_delete_form.html.twig') }} #}
                    {# <a href="{{ path('app_tasks_new', {id:to_d_o.id}) }}">Ajouter une tâche</a>  #}
                
            
        {% endfor %}
       

    <a href="{{ path('app_to_d_o_new') }}">Ajouter une ToDo</a>
{% endblock %}
